* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

:root {
  --ff__default: "Roboto", sans-serif;
  font-size: 62.5%;
  --hue: 194;
  --text: hsl (var(--hue), 0, 0);
  --text-hover: hsla(var(--hue), 97%, 31%, 1);
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--ff__default);
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--text);
  background-image: url("/assets/img/mountains-universe-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 12.2rem;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 4.3rem;
  margin: 0 7.2rem;
}

header img {
  width: 4.9rem;
  height: 4.2rem;
}

nav ul {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 5.3rem;
}

li a {
  font-size: 2.4rem;
  line-height: 2.1;
}

.container {
  width: 112rem;
  height: auto;
  margin: 0 auto;
}

.box_content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 2.4rem;
}

h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;
  color: white;
  margin-top: 17.2rem;
}

button {
  /* width: 19.5rem; */
  height: 4.8rem;
  background: transparent;
  border: 0.2rem solid white;
  border-radius: 0.5rem;
}

button a {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
}

button:hover {
  background: white;
}

button a:hover {
  color: var(--text-hover);
}
